body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    font-size: 1.25rem;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    left: 0;
    background: #3c3c3c;
    z-index: 1000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    left: 0;
    background: #3c3c3c;
    z-index: 1000;
}

.custom-ui {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    font-size: 100px;
    font-weight: bold;
    background: #ccc;
    border-bottom-right-radius: 20px;
    z-index: 2000;
}

.container {
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.spacer {
    height: 33vh;
}

.button {
    display: inline-flex;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}

.grid > * {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

img {
    transition-property: all;
    transition-duration: 300ms;
    border-radius: 14px;
    max-width: 100%;
}
